<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Note Form</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" 
     integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/lab4_form_style.css' %}">
  </head>

  <body>
    <h1 id="mytitle">NOTES</h1>
    <hr>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href={% url 'index' %}>Table</a>
            <a class="nav-link" href={% url 'note-list' %}>Card</a>
            <a class="nav-link disabled">Add Note</a>
          </div>
        </div>
      </div>
    </nav>
    <hr>

    <div id="card">
      <p id="title-text">Send a Message!</p>
      <form method="POST" action="">
        {% csrf_token %}
        <div id="first-row">
          <div class="input-group flex-nowrap" id="from-div">
            <span class="input-group-text" id="addon-wrapping">From</span>
            <input maxlength="30" name="msgFrom" type="text" class="form-control" aria-label="From" aria-describedby="addon-wrapping">
          </div>
          <div class="input-group flex-nowrap" id="to-div">
            <span class="input-group-text" id="addon-wrapping">To</span>
            <input maxlength="30" name="msgTo" type="text" class="form-control" aria-label="to" aria-describedby="addon-wrapping">
          </div>
        </div>
        
        <div class="mb-3">
          <input maxlength="50" name="msgTitle" type="text" class="form-control" id="title-input" placeholder="Title (50 char)">
        </div>

        <div class="form-floating">
          <textarea name="msg" maxlength="100" class="form-control" placeholder="Message" id="floatingTextarea2" style="height: 100px"></textarea>
          <label id="float-text" for="floatingTextarea2">Your Message (100 char)</label>
        </div>

        <button name="add_note" class="btn btn-primary" type="submit">Submit</button>
        <br>
      </form>
    </div>
  </body>
</html>
