<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note List</title>
    <link rel="stylesheet" href="../static/css/lab4_list_style.css">
</head>

<body>
    <h1 id="title">NOTES</h1>
    <hr>
    <div class="navbar">
        <a class="navlinks nav-active" id="table" href={% url 'index' %}>Table</a>
        <a class="navlinks">Card</a>
        <a class="navlinks nav-active" href={% url 'add-note' %}>Add Note</a>
    </div>
    <hr>
    <div class="grid">
        {% for note in notes %}
        <div class="container">
            <div class="card">
                <div class="front">
                    <div id="to">To: {{ note.msgTo }}</div>
                    <div id="msg-title">{{ note.msgTitle }}</div>
                </div>
                <div class="back">
                    <div id="msg">{{ note.msg }}</div>
                    <div id="from">-{{ note.msgFrom }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
