<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>

    <link rel="stylesheet" href="{% static 'css/lab4_index_style.css' %}">
  </head>

  <body>
    <h1 id="title">NOTES</h1>
    <hr>
    <div class="navbar">
        <a class="navlinks" id="table">Table</a>
        <a class="navlinks nav-active" href={% url 'note-list' %}>Card</a>
        <a class="navlinks nav-active" href={% url 'add-note' %}>Add Note</a>
    </div>
    <hr>
    <table class="note-table"> 
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
        {% for note in notes %}
        <tr>
            <td id="from">{{ note.msgFrom }}</td>
            <td id="to">{{ note.msgTo }}</td>
            <td id="msg-title">{{ note.msgTitle }}</td>
            <td id="msg">{{ note.msg }}</td>
        </tr>

        {% empty %}
        <tr><td colspan="4">No Data</td></tr>
        {% endfor %}
    </table>
  </body>
</html>
