body {
    background-color: rgb(122, 123, 124);
}

.display-1 {
    text-align: center;
}

.note-table {
    text-align: center;
    margin: 2%;
}

.note-table table tr:not(:first-child):hover {
    font-weight: bold;
    font-size: 1.1rem;
}

/* rounded corner stuf */
.note-table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
.note-table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
.note-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
.note-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.td-from {
    width: 10%;
}

.td-to {
    width: 10%;
}

.td-title {
    width: 15%;
}

.td-msg {
    width: 45%;
    text-align: left;
}

.td-action {
    width: 20%;
}

.btn-v, .btn-e, .btn-d {
    width: 5rem;
    margin: 1%;
}

.btn-v:hover {
    background-color: rgb(0, 56, 0);
}
.btn-e:hover {
    background-color: rgb(100, 100, 0);
}
.btn-d:hover {
    background-color: rgb(92, 0, 0);
}

.modal-table {
    width: 20%;
}

#floatingMessage {
    height: 8rem;
    resize: none;
}

#editModal .modal-body {
    height: 20rem;
}