<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="lab5_index_style.css">--> 
    <link rel="stylesheet" href="{% static 'lab_5/css/lab5_index_style.css' %}">

     <title>Note</title>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
     <script src="{% static 'lab_5/js/lab5_index_jquery.js' %}"></script>

</head>
<body>
    <h1 class="display-1">NOTES</h1>
    <div class="note-table">
    <table class="table table-light table-striped table-borderless align-middle"> 
        <tr class="table-dark">
            <th>From</th>
            <th>To</th>
            <th>Title</th>
            <th>Message</th>
            <th>Action</th>
        </tr>

        {% for note in notes %}
        <tr id="{{note.id}}">
            <td class="text-break td-from">{{ note.msgFrom }}</td>
            <td class="text-break td-to">{{ note.msgTo }}</td>
            <td class="text-break td-title">{{ note.msgTitle }}</td>
            <td class="text-break td-msg">{{ note.msg }}</td>
            <td class="td-action">
                <div>
                    <button type="button" class="btn btn-outline-dark btn-v" data-bs-toggle="modal" data-bs-target="#viewModal"> View </button>
                    <button type="button" class="btn btn-outline-dark btn-e" data-bs-toggle="modal" data-bs-target="#editModal"> Edit </button>
                    <button type="button" class="btn btn-outline-dark btn-d" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                </div>
            </td>
        </tr>

        {% empty %}
        <tr><td colspan="5">No Data</td></tr>
        {% endfor %}
        
    </table>
    </div>

  
    <!-- View Modal -->
    <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewModalLabel">Note X</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            VIEW
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>  

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edit Note X</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" id="modal-update">
              {% csrf_token %}
              <div class="row g-2">
                <div class="col-md">
                  <div class="form-floating mb-3">
                    <input maxlength="30" name="msgFrom" type="text" class="form-control" id="floatingFrom" placeholder="From">
                    <label for="floatingFrom">From</label>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-floating mb-3">
                    <input maxlength="30" name="msgTo" type="text" class="form-control" id="floatingTo" placeholder="To">
                    <label for="floatingTo">To</label>
                  </div>
                </div>
              </div>
                  
              <div class="form-floating mb-3">
                <input maxlength="50" name="msgTitle" type="text" class="form-control" id="floatingTitle" placeholder="Title">
                <label for="floatingTitle">Title</label>
              </div>
              <div class="form-floating">
                <textarea maxlength="100" name="msg" class="form-control" placeholder="Message" id="floatingMessage"></textarea>
                <label for="floatingMessage">Message</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button form="modal-update" type="button" class="btn-save btn btn-primary" data-bs-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>  

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Note X</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" id="modal-delete">
              {% csrf_token %}
              Do you want to delete this note?
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button form="modal-delete" type="button" class="btn-del btn btn-danger" data-bs-dismiss="modal">Delete</button>
          </div>
        </div>
      </div>
    </div>
</body>
</html>