<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend Form</title>
  </head>
  <body>
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
              <td align="right">Nama:</td>
              <td align="left"><input name="name" type="text" maxlength="30" required></td>
            </tr>
            <tr>
              <td align="right">NPM:</td>
              <td align="left"><input name="npm" type="text" minlength="10" maxlength="10" required></td>
            </tr>
            <tr>
                <td align="right">DoB:</td>
                <td align="left"><input name="birth_date" type="date" required></td>
              </tr>
          </table>
          <input name="add_friend" type="submit">
    </form>
  </body>
</html>
