<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <h1 style="text-align: center;">NOTES</h1>
    <hr>
    {% for note in notes %}
    <p>From: {{ note.msgFrom }}</p>
    <p>To  : {{ note.msgTo }}</p>
    <p><b>{{ note.msgTitle }}</b></p>
    <p>{{ note.msg }}</p>
    <hr>
    {% endfor %}
  </body>
</html>
