body {
    background-color: #1C0C5B;
    font-family: sans-serif;
}

#title {
    text-align: center;
    color: #916BBF;
    font-size: 2.5rem;
}

.navbar {
    background-color: white;
    height: 1.75rem;
    display: flex;
    align-items: center;
}
.navlinks {
   color: #1C0C5B;
   background-color: white;
   text-decoration: none;
   padding-right: 3rem;
   font-size: 1.25rem;
}
.nav-active:hover {
    color: #916BBF;
    font-weight: bold;
}
#table {
    padding-left: 1rem;
}

.grid {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    

    justify-content: space-around;
    margin: auto;
    height: 50rem;
    width: 50rem;
}
.container {
    width: 30%;
    height: 30%;
    padding: 0.5%;
}
.card {
    width: 100%;
    height: 100%;

    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front, .back {
    width: 100%;
    height: 100%;
    border-radius: 25px;

    
    text-align: center;

    position: absolute;
    justify-content: center;
    align-items: center;

    overflow-wrap: break-word;
}

.front {
    color: rgb(255,140,43);
    background-color: rgb(249,239,228);
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    color: rgb(249,239,228);
    background-color: rgb(255,140,43);
    transform: rotateY(180deg);
    z-index: 1;
}

.container:hover .card {
    transform: rotateY(180deg);
}

#to, #from, #msg-title, #msg {
    margin: 5%;
}
#to {
    margin-top: 10%;
    margin-left: 5%;
    text-align: left;
}
#msg-title {
    font-weight: bold;
    margin-top: 10%;
}

#from {
    margin-right: 5%;
    margin-bottom: 0%;
    margin-top: auto;
    text-align: right;
    font-size: 0.7rem;
}
#msg {
    font-weight: bold;
    margin-top: 10%;
    height: 60%;
}