body {
    font-family: sans-serif;
    background-color: #1C0C5B;
}

#title {
    text-align: center;
    color: #916BBF;
    font-size: 2.5rem;
}

.navbar {
    background-color: white;
    height: 1.75rem;
    display: flex;
    align-items: center;
}
.navlinks {
   color: #1C0C5B;
   background-color: white;
   text-decoration: none;
   padding-right: 3rem;
   font-size: 1.25rem;
}
.nav-active:hover {
    color: #916BBF;
    font-weight: bold;
}

#table {
    padding-left: 1rem;
}

.note-table {
    border-collapse: collapse;
    margin: 1% 5%;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 90%;
}

.note-table tr th {
    background-color: #916BBF;
    color: #ffffff;
    font-size: 1.7em;
    padding: 5px 0px;
}
.note-table td {
    padding: 10px 0px;
    text-align: center;
    font-size: 1.45em;
}

.note-table tr {
    border-bottom: thin solid #DDDDDD;
}
.note-table tr:last-child {
    border-bottom: none;
}
.note-table tr:nth-of-type(odd) {
    background-color: #F7F7F7;
}
.note-table tr:nth-of-type(even) {
    background-color: #FFF;
}
.note-table tr:hover {
    font-weight: bold;
    color: #1C0C5B;
}


/* rounded corner stuf */
.note-table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
.note-table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
.note-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
.note-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}


#from {
    width: 10%;
}
#to {
    width: 10%;
}
#msg-title {
    width: 20%;
}
#msg {
    width: 60%;
    text-align: left;
}


/* 
sources:
 table ideas
 https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l

 rounded table corner
 https://codepen.io/mlms13/pen/CGgLF
*/