body {
    font-family: sans-serif;
    background-color: #1C0C5B;
}

#mytitle {
    text-align: center;
    color: #916BBF;
    font-size: 2.5rem;
    font-family: sans-serif;
}

#title-text {
    text-align: center;
    font-size: 5vw;
    color: white;
}

#card {
    margin: 0 auto;
    margin-top: 5%;
    background-color: #916BBF;
    width: 75vw;
    border-radius: 25px;

    justify-content: center;
}

#first-row{
    display: flex;;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}

#from-div {
    margin-left: 0;
    margin-right: auto;
    width: 45%;
}
#to-div {
    margin-left: auto;
    margin-right: 0;
    width: 45%;
}

.mb-3, .form-floating {
    padding-left: 5%;
    padding-right: 5%;
}
#float-text {
    padding-left: 6.1%;
}

#title-input {
    text-align: center;
}

.btn {
    margin: 0 auto;
    display: block;
    background-color: #1C0C5B;
    border-color:#1C0C5B;
    margin-top: 1.2rem;
}